INSTALL
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
build/
install/
*.o
*~
version.h
.deps/
gtk/.dirstamp
utils/.dirstamp
Makefile
config.h
config.log
config.status
h16
h16-asctotty
h16-asr
h16-disasm
h16-lib
h16-pdap
h16-plt2ps
h16-pp-asr
h16-ppl
h16-tabify
h16-tabs
h16-tape
h16-ttytoasc
results/
stamp-h1
